name: Merge Schedule
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
  schedule:
    - cron: 0 22 * * 1

jobs:
  merge_schedule:
    runs-on: ubuntu-latest
    steps:
      - uses: gr2m/merge-schedule-action@v1
        with:
          merge_method: rebase
          time_zone: "Asia/Seoul"
        env:
          GITHUB_TOKEN: ${{ secrets.AUTO_MERGE }}
